html,body{
    height:100%;
    margin:0;
    padding:0;
}
html{
    background-color:rgb(30,30,30);
}
body{
    font-family:verdana;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}
.portfoliodiv{
    padding:0px 15px;
    border-radius:5px;
    box-shadow:0px 0px 5px rgba(255,0,0,0.9);
    margin-left:1%;
}
.porfoword{
    color:white;
}
.lioword{
    color:red;
}
nav{
    position:fixed;
    top:0;
    background-color:rgb(20,20,20);
    width:100%;
    padding:10px;
    z-index:1;
}
a{
    color:lightgray;
    text-decoration:none;
    font-size:x-large;
    transition:color 0.3s ease-in-out;
}
p{
    color:white;
}
a:hover{
    color:red;
}
.menu{
    padding:13px;
    margin-left:3%;
    display:none;
    border-radius:4px;
    transition:background-color 0.3s ease-in-out,transform 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
}
.menu:hover{
    box-shadow:5px 5px 5px rgba(255,0,0,0.9);
    transform:translateX(-3px);
    border-radius:4px;
}
.contentsdiv{
    margin-top:9%;
    margin-left:2%;
    padding-bottom:5%;
}
.name{
    font-size:45px;
    color:black;
    filter:drop-shadow(0px 0px 1px rgba(255,255,255,0.9));
}
.photoflexcontents{
    display:flex;
}
.photodiv{
    margin-left:4%;
}
.iconword{
    font-size:small;
    font-weight:bold;
}
.home_iconword,.about_iconword,.education_iconword,.skill_iconword,.contact_iconword{
    padding:13px;
    margin-left:3%;
    border-radius:4px;
    background-color:black;
    box-shadow:0px 0px 5px rgba(255,0,0,0.9);
    transform:translateX(0px);
    border-radius:4px;
    transition:transform 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
}
.paboutdiv{
    margin-top:20%;
    text-align:start;
    width:96%;
}
.allicons{
    display:flex;
    text-align:center;
    margin-left:40%;
}
.homeicon,.abouticon,.educationicon,.skillicon,.contacticon{
    color:red;
}
.div_iconword{
    padding:13px;
    margin-left:3%;
    border-radius:4px;
    transition:background-color 0.3s ease-in-out,transform 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
}
.div_iconword:hover{
    box-shadow:5px 5px 5px rgba(255,0,0,0.9);
    transform:translateX(-3px);
    border-radius:4px;
}
.div_iconword2{
    margin:10px;
    padding:13px;
    margin-left:3%;
    border-radius:4px;
    box-shadow:0px 0px 5px rgba(255,0,0,0.9);
    transition:background-color 0.3s ease-in-out,transform 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
}
.div_iconword2:hover{
    box-shadow:5px 5px 5px rgba(255,0,0,0.9);
    transform:translateX(-3px);
    border-radius:4px;
}
.iconword2{
    font-size:small;
    font-weight:bold;
}
.navelements{
    display:flex;
    justify-content:start;
}
.photo{
    block-size:250px;
    margin-top:8%;
    animation:moveUpDown 3s infinite;
    filter:drop-shadow(0px 0px 4px rgba(255,0,0,0.9));
    transition:filter 0.3s ease-in-out;
}
.photo:hover{
    filter:drop-shadow(0px 0px 8px rgba(255,0,0,0.9));
}
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
.typed-cursor{
    color:red;
}
.buttons{
    margin-top:4%;
    display:flex;
}
.buttonsdiv{
    margin-left:2%;
}
table{
    border-radius:10px;
    padding:20px;
    margin:auto;
    margin-top:5%;
    color:white;
    background-color:rgb(20,20,20);
    box-shadow:0px 0px 3px 2px rgba(255,0,0,0.9);
    transition:box-shadow 0.3s ease-in-out;
}
.table1{
    border-radius:10px;
    padding:20px;
    margin:auto;
    margin-top:100%;
    color:white;
    box-shadow:0px 0px 3px 2px rgba(255,0,0,0.9);
    transition:box-shadow 0.3s ease-in-out;
}
.td{
    color:red;
    font-weight:bold;
}
@media(max-width:650px){
    table{
        margin:15px;
        box-shadow:0px 0px 5px 3px rgba(255,0,0,0.9);
    }
    .table1{
        margin:15px;
        box-shadow:0px 0px 5px 3px rgba(255,0,0,0.9);
    }
    .divtabledivs{
        margin-top:150%;
        font-size:small;
    }
}
.hire,.download{
    font-weight:bold;
    font-size:medium;
    border-radius:6px;
    border-style:solid;
    box-shadow:0px 0px 4px rgba(255,0,0,0.9);
    padding:20px 80px;
    cursor:pointer;
}
.hire{
    background-color:black;
    color:lightgray;
    border-color:black;
    transition:transform 0.3s ease-in-out,border-color 0.3s ease-in-out,box-shadow 0.3s ease-in-out,background-color 0.3s ease-in-out,color 0.3s ease-in-out;
}
.hire:hover{
    box-shadow:0px 0px 4px 3px rgba(255,0,0,0.9);
    color:red;
}
.download{
    background-color:black;
    color:lightgray;
    border-color:black;
    transition:transform 0.3s ease-in-out,border-color 0.3s ease-in-out,box-shadow 0.3s ease-in-out,background-color 0.3s ease-in-out,color 0.3s ease-in-out;
}
.download:hover{
    box-shadow:0px 0px 4px 3px rgba(255,0,0,0.9);
    color:red;
}
#followface{
    color:red;
    font-size:50px;
    border-width:thin;
    transition:color 0.3s ease-in-out,filter 0.3s ease-in-out,transform 0.3s ease-in-out ;
}
#followface:hover{
    filter:drop-shadow(0px 0px 3px rgba(255,0,0,0.9));
    color:black;
    transform:translateY(-5px);
}
#followlink{
    margin-left:1%;
    color:red;
    font-size:50px;
    border-width:thin;
    transition:color 0.3s ease-in-out,transform 0.3s ease-in-out,filter 0.3s ease-in-out ;
}
#followlink:hover{
    filter:drop-shadow(0px 0px 3px rgba(255,0,0,0.9));
    color:black;
    transform:translateY(-5px);
}
#followtele{
    margin-left:1%;
    color:red;
    font-size:50px;
    border-width:thin;
    transition:color 0.3s ease-in-out,transform 0.3s ease-in-out,filter 0.3s ease-in-out;
}
#followtele:hover{
    filter:drop-shadow(0px 0px 3px rgba(255,0,0,0.9));
    color:black;
    transform:translateY(-5px);
}
#followwhat{
    margin-left:1%;
    color:red;
    font-size:50px;
    border-width:thin;
    transition:color 0.3s ease-in-out,transform 0.3s ease-in-out,filter 0.3s ease-in-out;
}
#followwhat:hover{
    filter:drop-shadow(0px 0px 3px rgba(255,0,0,0.9));
    color:black;
    transform:translateY(-5px);
}
.webservicediv,.designservicediv{
    width:40%;
    padding:20px;
    margin:20px;
    background-color:rgb(20,20,20);
    text-align:center;
    border-radius:10px;
    box-shadow:0px 0px 3px 2px rgba(255,0,0,0.9);
    transition:box-shadow 0.3s ease-in-out;
}
#webdesign,#design{
    color:red;
    font-size:xx-large;
}
.servicesdiv{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:8%;
}
.contactdetails{
    display:flex;
    justify-content:center;
    margin-top:10%;
    flex-wrap:wrap;
}
.userdetailsdiv{
    text-align:center;
    padding:10px 60px;
    margin:30px;
}
.customerdetails{
    text-align:center;
    padding:10px 20px;
    margin:30px;
    border-radius:10px;
    background-color:rgba(20,20,20);
    box-shadow:0px 0px 3px 2px rgba(255,0,0,0.9);
    transition:box-shadow 0.3s ease-in-out;
}
.customerdetails:hover,table:hover,.table1:hover,
.webservicediv:hover,.designservicediv:hover{
    box-shadow:0px 0px 10px 5px rgba(255,0,0,0.9);
}
#envelopicon,#usericon,#mobileicon{
    font-size:x-large;
    color:red;
}
hr{
    border-width:2px;
    border-color:red;
}
h2{
    color:red;
}
h4{
    color:lightgray;
}
.textarea{
    padding-bottom:55px;
    width:86%;
    border-width:2px;
}
.sendbutton{
    padding:10px 0px;
    width:86.5%;
    margin:2px;
    background-color:black;
    box-shadow:0px 0px 3px rgba(255,0,0,0.9);
    border-color:black;
    color:lightgray;
    border-style:solid;
    border-radius:5px;
    font-weight:bold;
    transition:color 0.3s ease-in-out,box-shadow 0.3s ease-in-out;;
}
input,textarea{
    padding:10px 0px;
    width:86%;
    color:white;
    border-style:solid;
    box-shadow:0px 0px 3px rgba(255,0,0,0.9);
    border-color:rgba(30,30,30);
    border-radius:5px;
    margin:3px;
    background-color:rgba(30,30,30);
    transition:box-shadow 0.3s ease-in-out;
}
input::placeholder,textarea::placeholder{
    font-family:Verdana;
    padding-left:10px;
    color:darkgray;
    transition:color 0.3s ease-in-out;
}
input:hover,textarea:hover,.sendbutton:hover{
    box-shadow:0px 0px 2px 2px rgba(255,0,0,0.9);
}
input:hover::placeholder,textarea:hover::placeholder,.sendbutton:hover{
    color:red;
}
@media(max-width:1000px){
    .allicons{
        margin-left:35%;
    }
    .contentsdiv{
        margin-top:20%;
    }
    .paboutdiv{
        margin-top:40%;
    }
    .contactdetails{
        margin-top:20%;
    }
}
@media(max-width:950px){
    .allicons{
        margin-left:30%;
    }
    .customerdetails{
        padding-bottom:5%;
    }
}
@media(max-width:900px){
    .allicons{
        margin-left:30%;
    }
    .contentsdiv{
        margin-top:20%;
    }
}
@media(max-width:870px){
    .allicons{
        margin-left:25%;
    }
    .contentsdiv{
        margin-top:20%;
    }
    .contactdetails{
        margin-top:60%;
    }
}
@media(max-width:850px){
    .allicons{
        margin-left:25%;
    }
    .contentsdiv{
        margin-top:30%;
    }
    .contactdetails{
        margin-top:65%;
    }
}
@media(max-width:840px){
    .contentsdiv{
        margin-top:30%;
    }
    .hire,.download{
        padding:20px 60px;
    }
    .portfoliodiv{
        text-align:end;
    }
    .div_iconword,.home_iconword,.about_iconword,.education_iconword,.skill_iconword,.contact_iconword{
        display:none;
    }
    .menu{
        margin-left:370px;
        display:block;
    }
    .paboutdiv{
        margin-top:50%;
    }
    .contactdetails{
        margin-top:67%;
    }
}




@media(max-width:800px)
{
    .menu{
        margin-left:350px;
        display:block;
    }
    .servicesdiv{
        margin-top:40%;
    }
    .paboutdiv{
        margin-top:10%;
    }
    .photoflexcontents{
        flex-wrap:wrap;
    }
    .photo{
        block-size:100px;
        filter:drop-shadow(0px 0px 3px rgba(255,0,0,0.9));
    }
    .photo:hover{
        filter:drop-shadow(0px 0px 6px rgba(255,0,0,0.9));
    }
    .contents{
        font-size:small;
    }
    .name{
        font-size:30px;
    }
    .paboutdiv{
        font-size:x-small;
    }
    #followface,#followlink,#followtele,#followwhat{
        font-size:40px;
    }
    .contactdetails{
        margin-top:70%;
    }
}
@media(max-width:770px)
{
    .menu{
        margin-left:330px;
        display:block;
    }
    .servicesdiv{
        margin-top:50%;
    }
    .contactdetails{
        margin-top:72%;
    }
}
@media(max-width:750px)
{
    .menu{
        margin-left:310px;
        display:block;
    }
    .servicesdiv{
        margin-top:60%;
    }
    .contactdetails{
        margin-top:74%;
    }
}
@media(max-width:730px)
{
    .menu{
        margin-left:290px;
        display:block;
    }
    .servicesdiv{
        margin-top:70%;
    }
    .contactdetails{
        margin-top:76%;
    }
}
@media(max-width:710px)
{
    .menu{
        margin-left:270px;
        display:block;
    }
    .servicesdiv{
        margin-top:75%;
    }
    .contactdetails{
        margin-top:78%;
    }
}
@media(max-width:690px)
{
    .menu{
        margin-left:250px;
        display:block;
    }
    .servicesdiv{
        margin-top:80%;
    }
    .contactdetails{
        margin-top:80%;
    }
}
@media(max-width:670px)
{
    .menu{
        margin-left:230px;
        display:block;
    }
    .servicesdiv{
        margin-top:85%;
    }
    .contactdetails{
        margin-top:82%;
    }
}
@media(max-width:650px)
{
    .menu{
        margin-left:210px;
        display:block;
    }
    .servicesdiv{
        margin-top:90%;
    }
    .paboutdiv{
        margin-top:30%;
    }
    .contactdetails{
        margin-top:84%;
    }
}
@media(max-width:630px)
{
    .menu{
        margin-left:190px;
        display:block;
    }
    .paboutdiv{
        margin-top:30%;
    }
    .contactdetails{
        margin-top:86%;
    }
}
@media(max-width:610px)
{
    .menu{
        margin-left:170px;
        display:block;
    }
    .paboutdiv{
        margin-top:30%;
    }
    .contactdetails{
        margin-top:88%;
    }
}
@media(max-width:600px)
{
    .menu{
        margin-left:160px;
        display:block;
    }  
    .paboutdiv{
        margin-top:30%;
    }
    .contactdetails{
        margin-top:90%;
    }
}
@media(max-width:590px)
{
    .menu{
        margin-left:150px;
        display:block;
    }
    .contactdetails{
        margin-top:92%;
    }
}
@media(max-width:580px)
{
    .menu{
        margin-left:140px;
        display:block;
    }
    .contactdetails{
        margin-top:94%;
    }
}
@media(max-width:575px)
{
    .menu{
        margin-left:135px;
        display:block;
    }
    .contactdetails{
        margin-top:96%;
    }
}
@media(max-width:570px)
{
    .menu{
        margin-left:60px;
        display:block;
    }
    .paboutdiv{
        margin-top:50%;
    }
    .contents{
        margin-top:-8%;
    }
    .contentsdiv{
        padding-top:40px;
    }
    .hire,.download{
        padding:15px 40px; 
    }
    .webservicediv,.designservicediv{
        width:70%;
    }
    .contactdetails{
        margin-top:110%;
    }
    .customerdetails{
        padding-bottom:8%;
    }
}